body {
  max-width: 900px;
  margin: 0 auto;
}

@mixin center_elem($size: auto) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: $size;
  height: $size;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.331);
  padding: 2rem;
  margin: 2rem;
  position: relative;

  &.reverse {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
  }

    .number-display {
      @include center_elem(3rem);

      margin-left: auto;
      background-color: rgb(208, 97, 115);
      color: white;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: -1rem;
    }

    .close {
      @include center_elem(1.75rem);

      position: absolute;
      top: -.5rem;
      left: 0;
    }
}